<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>

<body>
    <table>

        <tr>
            <th> email</th>
            <th> Firstname</th>
            <th> Lastname</th>
        </tr>
        <% for(let i=0; i< dataTable.length; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>